$site-yellow: #ffd140;
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-blue: #3bceab;
$site-green: #08ad69;
$yellow-overlay: #ffd140bf;
$light-pink: #f56b88;
$purple-overlay: #540d6ebf;
$pink-overlay: #ee4367bf;
$blue-overlay: #3bceabbf;
$green-overlay: #08ad69bf;
